@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

:root {
    /* COLORS  DARK MODE */
    --bg: #282828;
    --bg-darker: #1d2021;
    --fg: #ebdbb2;
    --gray: #928374;
	--gray-light: #a89984;
    --red: #cc241d;
    --red-light: #fb4934;
    --green: #98971a;
    --green-light: #b8bb26;
    --yellow: #d79921;
    --yellow-light: #fabd2f;
    --blue: #458588;
	--blue-light: #83a598;
	--purple: #b16286;
    --purple-light: #d3869b;
	--aqua: #689d6a;
    --aqua-light: #8ec07c;
	--orange: #d65d0e;
    --orange-light: #fe8019;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    background-color: #000000;
}

#main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (width < 680px) {
    #main_container {
        flex-direction: column-reverse;
    }
}

.div_main_container {
    height: 100vh;
}

#info_container {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card_list {
    margin: 2rem 20%;
    display: grid;
    grid-template-rows: repeat(1, minmax(116px, auto));
    grid-template-columns: repeat(auto-fit, minmax(116px, 1fr));
    gap: 1rem;
}

.card {
    transition: 0.4s;
}
.card:hover {
    transform: scale(1.2);
}

#card_list:hover .card:not(:hover) {
    filter: grayscale(1) blur(2px);

}

.card h4 {
    font-size: 1.1rem;
    font-weight: bold;      
    text-align: center;
    margin-bottom: 0.4rem;
}

.card ul {
    list-style-type: none;
    text-align: center;
}

#card_one h4{
    color: var(--red)
}

#card_one li{
    color: var(--red-light)
}

#card_two h4{
    color: var(--green)
}

#card_two li{
    color: var(--green-light)
}

#card_three h4{
    color: var(--yellow)
}

#card_three li{
    color: var(--yellow-light)
}

#card_four h4{
    color: var(--blue)
}

#card_four li{
    color: var(--blue-light)
}

#search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_bar p {
    color: var(--fg);
    font-size: 1.6rem;
    font-weight: bold;
}

#search_text {
    color: var(--fg);
    background-color: transparent;
    border-style: none;
    font-size: 1.4rem;
    font-family: "Fira Code", monospace;
}

input[type=text]:focus {
    outline: none;
}

#image_container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2%;
}


#image-div {
    width: 200px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: 0.4s;
    align-items: center;
    filter: grayscale(1) blur(4px);
}

#image-div:hover {
    filter: grayscale(0) blur(0);
}

#clock_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

#date {
    color: var(--fg);
    font-size: 1.2rem;
}

#time {
    color: var(--fg);
    font-size: 2.2rem;
}
